body {
	font-family: "Source Code Pro", monospace !important;
	font-size: 14px;
	color: white;
	background-color: #FF1744;
	display: inline;
	word-wrap: break-word;
}
a {
	text-decoration: none;
	color:#ffc66d;
}
a:hover
{
	color:#ffc66d;
	text-decoration:none;
}
.second{
	margin: 50px;
	padding: 20px;
	background-color:#060008;
    -moz-box-shadow: 8px 8px 8px rgba(0,0,0, 0.6);
  -webkit-box-shadow: 8px 8px 8px rgba(0,0,0, 0.6);
  box-shadow: 8px 8px 8px rgba(0,0,0, 0.6);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;

}
.level1{
	/* margin-left: 30px; */
}
.level2{
	margin-left: 60px;
}
.level3{
	margin-left: 60px;
}
.jsonkey{
	color: #a5c261;
}
.jsonvalue{
	color: #ffc66d;
}
